<section id="dx-carousel" class="dx-carousel dx-carousel--relpos" role="region">
    <xsl:for-each select="/doc/assets/asset">
        <div class="dx-carousel__slide dx-carousel--abspos" role="tabpanel" aria-labelledby="dx-carousel-slide-1-title">
            <div class="dx-carousel__card">
                <div class="dx-carousel__row">
                    <div class="dx-carousel__cell dx-carousel--relpos">
                        <div class="dx-carousel__image {/doc/thumb-container-class}">
                            <xsl:if test="/doc/show_asset_type='1'">
                                <div class="dx-carousel__tag dx-carousel__tag--abspos dx-asset-time-to-read__REF__">
                                    <img src="https://demandexchange-dx-platform.s3.eu-west-2.amazonaws.com/icons/document.svg"/> <span><xsl:value-of select="displayname"/></span>
                                </div>
                            </xsl:if>
                            <xsl:if test="/doc/show_starttimes='1'">
                                <div class="dx-carousel__tag dx-carousel__tag--abspos dx-asset-starttimes__REF__">
                                    <img src="https://demandexchange-dx-platform.s3.eu-west-2.amazonaws.com/icons/calendar.svg "/> <xsl:value-of select="starttimes"/>
                                </div>
                            </xsl:if>   
                            <xsl:if test="/doc/show_duration = '1'">
                                <xsl:choose>
                                    <xsl:when test="duration != '0'">
                                        <li class="dx-tag dx-asset-duration__REF__"><img src="https://demandexchange-dx-platform.s3.eu-west-2.amazonaws.com/icons/timer.svg" /><xsl:value-of select="concat(duration, ' ', duration_type)"/></li>
                                    </xsl:when>
                                    <xsl:otherwise>
                                        <xsl:if test="timetoread != ''">
                                            <div class="dx-carousel__tag dx-carousel__tag--abspos dx-asset-time-to-read__REF__">
                                                <img src="https://demandexchange-dx-platform.s3.eu-west-2.amazonaws.com/icons/clock.svg"/>
                                                <xsl:choose>
                                                    <xsl:when test="timetoread &lt; 5"><span>Quick Read</span></xsl:when>
                                                    <xsl:otherwise>
                                                        <span><xsl:value-of select="timetoread"/> Min Read</span>
                                                    </xsl:otherwise>
                                                </xsl:choose>
                                            </div>
                                        </xsl:if>
                                    </xsl:otherwise>
                                </xsl:choose>
                            </xsl:if>
                            <img 
                                src="{thumb}" 
                                srcset="{thumb} 1120w, {thumb} 720w, {thumb} 400w" 
                                sizes="(max-width: 640px) 50vw, 100vw" 
                                class="dx-asset-featured-image__REF__" 
                                alt="{title}" 
                                title="{title}" 
                            />
                        </div>
                    </div>
                    <div class="dx-carousel__cell dx-carousel--relpos">
                        <xsl:if test="/doc/show_logo='1'">
                            <img src="{partnerlogo}" class="dx-pimage dx-asset-partner-logo__REF__" alt="{partnername}" title="{partnername}" />
                        </xsl:if>
                        <div class="dx-carousel__caption">
                            <h4 class="dx-carousel__title dx-asset-title__REF__" id="dx-carousel-slide-1-title">
                                <xsl:value-of select="concat('&lt;', /doc/asset_title_tag, '&gt;')" disable-output-escaping="yes"/>
                                    <xsl:value-of select="title"/>
                                <xsl:value-of select="concat('&lt;', /doc/asset_title_tag_end, '&gt;')" disable-output-escaping="yes"/>
                            </h4>
                            <xsl:if test="/doc/show_summary = '1' and summary != ''">
                                <p class="dx-carousel__summary dx-asset-intro__REF__"><xsl:value-of select="summary" disable-output-escaping="yes"/></p>
                            </xsl:if>
                            <xsl:if test="/doc/show_cta = '1'">
                                <a href="#" class="dx-carousel__cta dx-asset-cta__REF__" title="{calltoaction}"><xsl:value-of select="calltoaction"/></a>
                            </xsl:if>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </xsl:for-each>
</section>